@charset "UTF-8";
  
  body{
   background-color: yellow 
}
  p{
      text-align: justify
      text-indent: 50px 
    }
    
    h1 {
      color: black;    
    }
    h3{
    }
    .interface{
        padding:10px 4px;     
    } 
    
    /* Formataço do menu */
  nav#menu ul{
    list-style: none;
    text-transform: uppercase;
  }
