@charset "UTF-8";

body{
  background-color: #07008f;
  color: rgba(0,0,0,1);
}

div#interface{
  width: 300px;
  background-color: white;
  margin: 10px 10px 10px 10px; 
}

p{
  text-align: justify
  text-indent: 50px 
}

h1 {
  color: black;    
}
header#cabecalho{
  background-color: #dddddd;
  border-bottom: 1px #606060 solid;
  height: 80px;
  background: url("unibta.webp") no-repeat 0px 100px;
}

/* Formataço do menu */

nav#menu{
  display: block;
}

nav#menu ul{
  background-color: #dddddd;
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 200px;
  }

nav#menu li{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  }

nav#menu h1{
  position: relative;
  top: 50px;
  left: 450px;
  }
